<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fail</title>
    <style>
        #box{
            width: 70%;
            margin: 5% auto;
            box-sizing: border-box;
            padding: 5%;
            border: 0.075em solid red;
        }
        h1{
            color: red;
            font-size: 250%;
        }
    </style>
</head>
<body>
    <div id="box">
        <h1>Something Went Wrong Please Try Again Later</h1>
    </div>
</body>
</html>