<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Reset Password</title>
    <style>
        #form {
            width: 50%;
            margin: 5% auto;
            box-sizing: border-box;
            padding: 5%;
            border: 0.075em solid #3399ff;
        }
        h1{
          color: #3399ff;
        }
    </style>
</head>
<body>
    <form id="form" method="POST" action="http://localhost:5003/forgotPassword/reset/{{email}}">
      <h1 class="text-center display-3">Reset Your Password</h1>
      <div class="form-group mb-3">
        <input type="text" name="newPassword" class="form-control" />
      </div>
      <button type="submit" class="btn btn-block btn-primary">Send</button>
    </form>
</body>
</html>